<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
  <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Cache-Control" value="no-cache, no-store, must-revalidate, max-age=0" />
                <add name="X-Content-Type-Options" value="nosniff" />
            </customHeaders>
        </httpProtocol>

  <rewrite>
    <rules>
                <clear />
                <rule name="Angular Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(DashboardApi)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
    </rules>
  </rewrite>
        <handlers>
            <remove name="WebDAV" />
        </handlers>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
</system.webServer>
</configuration>
