<div class="ex-width">
  <div mat-dialog-content class="mh-4">

    <ng-container *ngIf="postForm">
      <form id="post-form" [formGroup]="postForm" (ngSubmit)="onSubmit(postForm)" class="pad-form">

        <div class="col-6 form-group">
          <app-input [parentForm]="postForm" [fieldName]="'title'" formControlName="title" label="عنوان"
            placeholder="عنوان را تایپ نمایید">
          </app-input>
        </div>

        <div class="col-12 form-group">
          <app-textarea [parentForm]="postForm" [fieldName]="'body'" formControlName="body" label="متن"
            placeholder="متن را تایپ نمایید" [rows]="15">
          </app-textarea>
        </div>

      </form>
    </ng-container>

  </div>
  <div mat-dialog-actions align="end">
    <span>
      <button form="post-form" type="submit" mat-flat-button color="primary" [mat-dialog-close]="true">
        ثبت
      </button>
      <button type="button" mat-stroked-button color="primary" (click)="CloseDialog()">
        بستن
      </button>
    </span>
  </div>
</div>